@import url("css/banner.css");
@import url("css/header.css");
@import url("css/metricas.css");
@import url("css/vagas.css");
@import url("css/relato.css");
@import url("css/footer.css");

:root {
    --fonte_principal: "Inter";
    --branco: #FFFFFF;
    --cinza: #667085;
    --vermelho: #8E2424;
    --preto_texto: #101828;
    --vermelho_claro: rgba(142, 36, 36, 0.05);
    --cinza_titulo: #101828;
}

body {
    background: var(--branco);
    font-family: var(--fonte_principal);
    font-weight: 500;
}
